
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure want to delete this book??</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="yes('Close click')">Yes</button>
      <button type="button" class="btn btn-ok" (click)="close('Close click')">Close</button>
    </div>

