<!-- Do I want this?? -->
<div class="card" style="width: 18rem;">
  <h5 class="code card-title">{{book.title}}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
  <p class="card-text">{{book.genre}}</p>
  <p class="card-text">Form: {{book.type}}</p>
  <p class="card-text">Series: {{book.series}}</p>
  <p class="card-text">{{book.status}}</p>
  <p class="card-text">{{book.notes}}</p>
  <button class="btn btn-sm btn-warning" [routerLink]="['/edit', book.id]">Edit</button>
  <button class="btn btn-sm btn-danger">Delete</button>
  <button class="btn btn-info" routerLink="/catalog">Nevermind!</button>
</div>