<div class="card" style="width: 28rem;">
  <h4 class="card-header text-center">{{book.title}}</h4>
  <div class="row">
    <div class="col">
      <img src="http://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="Cover for {{book.title}}">
    </div>
    <div class="col text-right">
      <h6 class="card-subtitle">Author: <span>{{book.author}}</span></h6>
      <p class="card-text">Genre: <span>{{book.genre}}</span></p>
      <p class="card-text">Form: <span>{{book.type}}</span></p>
      <p class="card-text">Series: <span>{{book.series}}</span></p>
      <p class="card-text">Status: <span>{{book.status}}</span></p>
      <hr />
      <p class="card-text text-center">{{book.notes}}</p>
    </div>
  </div>
  <div class="buttons text-center">
    <button class="btn btn-sm btn-ok" [routerLink]="['/edit', bookId]">Edit</button>
    <button class="btn btn-sm btn-danger" (click)="deleteBook()">Delete</button>
    <button class="btn btn-sm btn-info" routerLink="/catalog">Catalog!</button>
  </div>
</div>