a {
    text-decoration: none;
}

.addBook {
    color: #ffdbcd;
}
.addBook:hover{
    color: #e72c0a;
}

h1 {
    color: #ffdbcd;
    text-decoration: underline;
}

.card {
    background-color: #ffdbcd;
    color: lightcoral;
}