

<div *ngFor="let b of getBooks()">
    <div class="card" style="width: 18rem;">
       <div class="card-body">
        <h5 class="card-title">{{b.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{b.author}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Series: {{b.series}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Status: {{b.status}}</h6>
        <button class="btn btn-sm btn-info" [routerLink]="['/book', b.id]">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteBook(b.id)">Delete</button>
      </div>
    </div>
  </div>

