<div class="card-deck">
  <div *ngIf="!(isAuthenticated | async)" class="card text-center">
    <h1><i>Bookalog</i></h1>
    <p>Hello</p>
    <a [routerLink]="['/changelog']">Changelog</a>
  </div>

  <div *ngIf="isAuthenticated | async" class="card-deck">

    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Reading Now</h3>
        <div *ngIf="reading.length!=0">
          <div *ngFor="let book of reading">
            <div class="card text-center" style="width: 18rem;">
              <a [routerLink]="['/book', book.id]">
                <div class="card-body">
                  <img class="card-img-top" src="http://covers.openlibrary.org/b/id/{{book.cover}}-L.jpg"
                    alt="{{book.title}} cover image" style="width: 5rem;">
                  <h5 *ngIf="!book.cover" class="card-title">{{book.title}}</h5>
                  <h6 *ngIf="!book.cover" class="card-subtitle mb-2 ">{{book.author}}</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="reading.length===0">
          <h4>Not reading anything right now?</h4>
          <button class="btn btn-ok" [routerLink]="['/newbook']">Add a book!</button>
        </div>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Reading Next</h3>
        <div *ngIf="read.length!=0">
          <div *ngFor="let book of read">
            <div class="card text-center" style="width: 18rem;">
              <a [routerLink]="['/book', book.id]">
                <div class="card-body">
                  <img class="card-img-top" src="http://covers.openlibrary.org/b/id/{{book.cover}}-L.jpg"
                    alt="{{book.title}} cover image" style="width: 5rem;">
                  <h5 *ngIf="!book.cover" class="card-title">{{book.title}}</h5>
                  <h6 *ngIf="!book.cover" class="card-subtitle mb-2 ">{{book.author}}</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="read.length===0">
          <h4>Need something to read next?</h4>
          <button class="btn btn-ok" [routerLink]="['/newbook']">Add a book!</button>
        </div>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Wanna Buy!</h3>
        <div *ngIf="buy.length!=0">
          <div *ngFor="let book of buy">
            <div class="card text-center" style="width: 18rem;">
              <a [routerLink]="['/book', book.id]">
                <div class="card-body">
                  <img class="card-img-top" src="http://covers.openlibrary.org/b/id/{{book.cover}}-L.jpg"
                    alt="{{book.title}} cover image" style="width: 5rem;">
                  <h5 *ngIf="!book.cover" class="card-title">{{book.title}}</h5>
                  <h6 *ngIf="!book.cover" class="card-subtitle mb-2 ">{{book.author}}</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="buy.length===0">
          <h4>How is this list empty??</h4>
          <button class="btn btn-ok" [routerLink]="['/newbook']">Add a book!</button>
        </div>
      </div>
    </div>
  <a [routerLink]="['/changelog']">Changelog</a>

  </div>
</div> 