<div class="card-deck">
  <div *ngIf="!(isAuthenticated | async)" class="container card text-center">
    <h1><i>Bookalog</i></h1>
    <h3>The book service for the forgetful reader</h3>
    <p>Have you ever found a new book to read, only to get a few chapters in and realize you've read it before? And not
      only have you read it before, but you already own it?</p>
    <p>Or the third book in that series you really like just came out, but as you start reading you wonder if you
      actually read the previous book because who the heck are these people??</p>
    <div class="row align-items-center">
      <div class="col">
        <h3>Catalog your books</h3>
        <p>All your typical catalog features, plus the option to keep notes and update the status of the book!</p>
      </div>
      <img src="\assets\EditScreenshotCrop.png" alt="screenshot of edit view" class="col screenshot">
    </div>
    <div class="row align-items-center">
      <img src="\assets\CatalogScreenshot.png" alt="screenshot of catalog view" class="col screenshot">
      <div class="col">
        <h3>View your books as a collection...</h3>
        <p>If you need an image to refresh your memory, or you just like looking at your books :)</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h3>Or on a searchable table</h3>
        <p>For quickly finding out if you already read or own a book!</p>
      </div>
      <img src="\assets\TableScreenshotCrop.png" alt="screenshot of table view" class="col screenshot">
    </div>
    <div class="row align-items-center">
      <img src="\assets\HomeListScreenshot.PNG" alt="screenshot of table view" class="col screenshot">
      <div class="col">
        <h3>Status Lists</h3>
        <p>Keep track of the books you're currently reading, what you want to read next, and the books you need to get your hands on</p>
      </div>
    </div>
    <h3>Give it a go! <a [routerLink]='["/authentication/register"]'>Create an account!</a></h3>
    <hr>
    <div class="bug">
      <p>Find a bug? Have a feature suggestion? <a [href]="'https://github.com/AmyTroutman/CapstoneFinal/issues/new'"
          target="_blank">Let me know!</a></p>
    </div>
  </div>

  <div *ngIf="isAuthenticated | async" class="card-deck">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Reading Now</h3>
        <div *ngIf="reading.length!=0">
          <div *ngFor="let book of reading">
            <div class="card text-center">
              <a [routerLink]="['/book', book.id]">
                <div class="card-body">
                  <img *ngIf="book.cover" class="card-img-top"
                    src="http://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="{{book.title}} cover image">
                  <div *ngIf="!book.cover" class="defaultCover">
                    <h4 class="card-title">{{book.title}}</h4>
                    <h6 class="card-subtitle mb-2 ">{{book.author}}</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="card text-center" *ngIf="reading.length===0">
          <h4>Not reading anything right now?</h4>
          <button class="btn-faux btn btn-ok" [routerLink]="['/newbook']">Add a book!</button>
        </div>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Reading Next</h3>
        <div *ngIf="read.length!=0">
          <div *ngFor="let book of read">
            <div class="card text-center">
              <a [routerLink]="['/book', book.id]">
                <div class="card-body">
                  <img *ngIf="book.cover" class="card-img-top"
                    src="http://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="{{book.title}} cover image">
                  <div *ngIf="!book.cover" class="defaultCover">
                    <h4 class="card-title">{{book.title}}</h4>
                    <h6 class="card-subtitle mb-2 ">{{book.author}}</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="card text-center" *ngIf="read.length===0">
          <h4>Need something to read next?</h4>
          <button class="btn-faux btn btn-ok" [routerLink]="['/newbook']">Add a book!</button>
        </div>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Need to Get!</h3>
        <div *ngIf="get.length!=0">
          <div *ngFor="let book of get">
            <div class="card text-center">
              <a [routerLink]="['/book', book.id]">
                <div class="card-body">
                  <img *ngIf="book.cover" class="card-img-top"
                    src="http://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="{{book.title}} cover image">
                  <div *ngIf="!book.cover" class="defaultCover">
                    <h4 class="card-title">{{book.title}}</h4>
                    <h6 class="card-subtitle mb-2 ">{{book.author}}</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="card text-center" *ngIf="get.length===0">
          <h4>How is this list empty??</h4>
          <a class="btn-faux btn btn-ok" [href]="'https://recommendmeabook.com/'" target="_blank">Find a book!</a>
        </div>
      </div>
    </div>
  </div>
</div>